apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: arize-phoenix
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: ${GIT_REPO_URL}
    targetRevision: main
    path: manifests/platform/arize-phoenix
  destination:
    server: https://kubernetes.default.svc
    namespace: phoenix-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
