name: rem-eks-infra
runtime: yaml
description: REM EKS cluster using batteries-included defaults

variables:
  vpcId:
    fn::invoke:
      function: aws:ec2:getVpc
      arguments:
        default: true
      return: id
  subnetIds:
    fn::invoke:
      function: aws:ec2:getSubnets
      arguments:
        filters:
          - name: vpc-id
            values:
              - ${vpcId}
      return: ids

resources:
  cluster:
    type: eks:Cluster
    properties:
      name: rem-cluster
      version: "1.32"
      authenticationMode: API_AND_CONFIG_MAP
      vpcId: ${vpcId}
      subnetIds: ${subnetIds}
      desiredCapacity: 2
      minSize: 1
      maxSize: 3
      createOidcProvider: true

outputs:
  kubeconfig: ${cluster.kubeconfig}
  cluster_name: ${cluster.eksCluster.name}
  cluster_endpoint: ${cluster.eksCluster.endpoint}
  oidc_provider_arn: ${cluster.core.oidcProvider.arn}
